<h1 style='text-align: center'>My utility site</h1>
<div style='margin:20px'>
<h3> Double quote to single quote </h3>
<p> replace double quote to single quote, and also replace ' inside string to \'</p>
<div fxLayout='row' fxLayoutGap='20px'>
  <div fxFlex='40%'>
    <p>Input</p>
    <textarea style='background-color:#f2f2f2;width:100%' matInput matTextareaAutosize matAutosizeMinRows=10
      matAutosizeMaxRows=50 [formControl]='inputControl'></textarea>
  </div>
  <div fxFlex='40%'>
    <p>Output</p>

    <textarea style='background-color:#f2f2f2;width:100%' matInput matTextareaAutosize matAutosizeMinRows=10
      matAutosizeMaxRows=50 [formControl]='outputControl'> </textarea>

  </div>
  
</div>
<br>
<button mat-raised-button color='primary'(click)='clearInput()'>clear</button>
</div>